:root {
    /*
        :root sisältää käytetyt värit nettisivulla muuttujissa, jotta värien muuttaminen on helppoa
    */
    --darkgrey: #1B2023;
    --grey: #262A2D;
    --lightgrey: #403c44;
    --white: #D9D9D9;
    --white75: #afafaf;
    --white50: #6e6e6e;
    --white25: #494949;
    --cyan: #168FC3;
}

/* Omat background ja foreground väri -classit */

.bg-darkgrey {
    background-color: var(--darkgrey) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-lightgrey {
    background-color: var(--lightgrey) !important;
}

.bg-cyan {
    background-color: var(--cyan) !important;
}

.fg-cyan {
    color: var(--cyan) !important;
}

.bg-fade {
    background-image: linear-gradient(
    to right top,
    #216b8bb0 -20%,
    #262A2D 60%
    ) !important;
}

/* Yleisiä elementtikorjauksia */

.btn:hover {
    box-shadow: 0 0 .5em var(--cyan);
    border: 1px solid var(--cyan) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--white) !important;
    font-weight: 600;
}

a {
    color: var(--white) !important;
    transition: .5s ease;
}

a:hover {
    color: var(--white50) !important;
}

a:hover:not(.logoteksti):not(li a):not(.btn):not(.thumbnail-link) {
    text-decoration: underline !important;
}

.text-light {
    color: var(--white) !important;
}

li {
    transition: .5s ease;
}

li .active {
    border-bottom: var(--cyan) solid 2px;
    opacity: 100% !important;
}

.lisaravinteita li:hover {
    opacity: 50%;
    border-bottom: solid 1px #168FC3 !important;
}

@media (max-width: 768px) {
    .nav-hide {
        display: none; /* Piilottaa aktiivisen sivun navigaatio elementin listasta, kun se näytetään isompana otsikkona listan päällä */
    }
}

.border-hover {
    transition: .5s ease;
}

.border-hover:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid var(--cyan);
    box-shadow: 0 0 .5em var(--cyan);
}

/* Omat sisennys classit, joita käytetään .containerin ensimmäisessä lapsielementissä */

.custom-margin {
    margin: 0 auto;
    max-width: 700px;
}

.hintacards-margin {
    margin: 0 auto;
    max-width: 600px;
}

.small-margin {
    margin: 0 auto;
    max-width: 300px;
}

/* Background kuvat */

.bg-header {
    background-image: url(../kuvat/header-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*
        Jos haluaa parallax efektin nettisivun taustakuville niin käyttää tätä.
    */
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

#kalusto-galleria {
    background-image: url(../kuvat/vuokra-ja-galleria.webp);
}

#palvelut {
    background-image: url(../kuvat/palvelut.webp);
}

#hinnasto {
    background-image: url(../kuvat/hinnasto.webp);
}

#meista {
    background-image: url(../kuvat/meista.webp);
}

img.palvelut {
    filter: grayscale(100%) contrast(120%) sepia(10%);
    transition: all .5s ease;
}

img.palvelut:hover {
    filter: grayscale(60%) contrast(140%) sepia(10%);
    box-shadow: 0 1em 1em #1b202363;
}

.thumbnail {
    filter: grayscale(100%) contrast(110%) sepia(20%) brightness(100%);
    transition: .5s ease;
}

.thumbnail-container:hover .thumbnail {
    filter: grayscale(50%) contrast(140%) sepia(20%) brightness(60%);
    box-shadow: 0 1em 1em #1b202363;
}

.thumbnail-text {
    pointer-events: none;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 0;
}

.thumbnail-container:hover .thumbnail-text {
    opacity: 1;
}

.hover-animaatio{
    border: 6px solid;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}
.hover-animaatio:hover{
    --_i: 100%;
    color: #168FC3;
    transition: .3s, -webkit-mask-size .3s .3s;
}

/* Galleria */

/* slider galleria classeja */
.img-container {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.img-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.img-slider {
    width: 20em;
    padding: 0 1em;
    /* scroll-snap-align: start; */
}

.img-slider:hover {
    cursor: grab;
}

.mouse-hold {
    scroll-snap-type: unset;
}

.thumbnail-indicators {
    background-color: var(--white);
    height: 10px;
    width: 10px;
    transition: .2s ease;
    cursor: pointer;
}

.thumbnail-indicators.active {
    background-color: var(--cyan);
    opacity: 100% !important;
    box-shadow: 0 0 1em var(--cyan);
}

#left-scroll p, #right-scroll p {
    cursor: pointer;
}

/* Fullscreen galleria modal */

.gallery-btn:hover > p {
    transition: .5s ease;
    filter: brightness(60%);
    text-decoration: underline;
    cursor: pointer;
}

/* Firefox:in spesiaalit css ominaisuudet (ei tue backdrop-filter:iä) */
@-moz-document url-prefix() {
    .outer {
      background-color: #1b2023e0;
    }
}

.gallery-modal {
    display: none;
    opacity: 0;
    z-index: 10 !important;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    transition: all 1s ease .5s;
    backdrop-filter: blur(15px) brightness(40%);
}

.gallery-modal.visible {
    display: block;
    opacity: 100%;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 3em;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
    max-height: 1000px;
    width: 100%;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  @media (max-width: 900px) {
    .inner {
        width: 90%;
    }
  }

.carousel-indicators {
    bottom: -3rem !important;
}

.carousel-indicators button.active {
    transition: ease .5s;
    background-color: var(--cyan);
}

/* kalustovuokraus */

#kalustovuokraus {
    background-image: url(../kuvat/kalustovuokraus.webp);
}

.card-img {
    background-position: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--grey);
    padding: 4rem 0;
    transition: 0.5s ease;
}

.card-img:hover {
    padding: 6rem 0;
    
}

#jattipannu {
    background-image: url(../kuvat/icons/pannu.png);
}

#makkaragrilli {
    background-image: url(../kuvat/icons/kaasugrilli.png);
}

#kahvikone {
    background-image: url(../kuvat/icons/pergulaattori.png);
}

#kaasupullo {
    background-image: url(../kuvat/icons/kaasukannu.png);
}

#teltta {
    /* 
    background-image: url(../kuvat/icons/teltta.png);   -käytä tätä kun teltta on mukana valikoimassa
    */
    background-image: url(../kuvat/icons/teltta-disabled.png);
}

/* Popup */

.popover {
    position: relative;
    max-width: 250px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s .2s ease;
}
.popover:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: var(--grey) transparent;
    border-width: 0 16px 15px;
    top: -15px;
    left: 50%;
    margin-left: -16px;
}

.return-link:hover +.popover {
    opacity: 100%;
    filter: drop-shadow(2px 2px 10px rgba(11, 28, 59, 0.288));
}

/* Facebook Embed */

.fb-container {
    overflow: hidden;
}

@media (max-width: 500px) {
    .fb-container {
        overflow: scroll;
    }
}
