:root {
    --darkgrey: #1B2023;
    --grey: #262A2D;
    --lightgrey: #403c44;
    --white: #D9D9D9;
    --white75: #afafaf;
    --white50: #6e6e6e;
    --white25: #494949;
    --cyan: #168FC3;
}

.bg-darkgrey {
    background-color: var(--darkgrey) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-lightgrey {
    background-color: var(--lightgrey) !important;
}

.bg-cyan {
    background-color: var(--cyan) !important;
}

.fg-cyan {
    color: var(--cyan) !important;
}

a {
    color: var(--white) !important;
    transition: .5s ease;
}

a:hover {
    color: var(--white50) !important;
}

.text-light {
    color: var(--white) !important;
}

.bg-header {
    background-image: url(../kuvat/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.custom-margin {
    margin: 0 auto;
    max-width: 700px;
}

.small-margin {
    margin: 0 auto;
    max-width: 300px;
}

.active {
    border-bottom: var(--cyan) solid 2px;
}

/* Galleria */



/* kalustovuokraus */

#kalustovuokraus {
    background-image: url(../kuvat/kalustovuokraus.jpg);
    background-position: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img {
    background-position: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
    transition: 0.5s ease;
}

.card-img:hover {
    padding: 7rem 0;
}

#jattipannu {
    background-image: url(../kuvat/card-imgs/jattipannu.jpg);
}

#kaasugrilli {
    background-image: url(../kuvat/card-imgs/kaasugrilli.jpg);
}

#kahvikone {
    background-image: url(../kuvat/card-imgs/kahvikone.jpg);
}

#kaasukannu {
    background-image: url(../kuvat/card-imgs/kaasukannu.jpg);
}

#teltta {
    background-image: url(../kuvat/card-imgs/teltta.jpg);
}

/* Popup */

.popover {
    position: relative;
    max-width: 250px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s ease;
}
.popover:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: var(--grey) transparent;
    border-width: 0 16px 15px;
    top: -15px;
    left: 50%;
    margin-left: -16px;
}

.return-link:hover +.popover {
    opacity: 100%;
}